{% extends "layout.html" %}

{% block title %}Edit aircraft{% endblock %}

{% block content %}
<h2>{{ item.airline }} {{ item.manufacturer }} {{ item.model }} [{{ item.registration }}]</h2>
<h3>Edit aircraft</h3>
<form action="/item/{{ item.id }}/edit" method="post">
    <p>
        <label for="manufacturer">Manufacturer</label>: <br/>
        <select name="manufacturer" id="manufacturer" required>
            <option value="{{ item.manufacturer }}" selected>{{ item.manufacturer }}</option>
        {% for manufacturer in manufacturers %}
            {% if manufacturer.name != item.manufacturer %}
            <option value="{{ manufacturer.name }}">{{ manufacturer.name }}</option>
            {% endif %}
        {% endfor %}
        </select>
    </p>
    <p>
        <label for="model">Model</label>: <br/>
        <input type="text" name="model" id="model" value="{{ item.model }}" maxlength="20" required />
    </p>
    <p>
        <label for="registration">Registration</label>: <br/>
        <input type="text" name="registration" id="registration" value="{{ item.registration }}" maxlength="10" required />
    </p>
    <p>
        <label for="category">Category</label>: <br/>
        <select name="category" id="category" required>
            <option value="{{ item.category }}" selected>{{ item.category }}</option>
        {% for category in categories %}
            {% if category.name != item.category %}
            <option value="{{ category.name }}">{{ category.name }}</option>
            {% endif %}
        {% endfor %}
        </select>
    </p>
    <p>
        <label for="airline">Airline</label>: <br/>
        <input type="text" name="airline" id="airline" value="{{ item.airline }}" maxlength="30" required />
    </p>
    <p>
        <label for="location">Location</label>: <br/>
        <input type="text" name="location" id="location" value="{{ item.location }}" maxlength="40" />
    </p>
    <p>
        <label for="airport">Airport (ICAO)</label>: <br/>
        <input type="text" name="airport" id="airport" value="{{ item.airport }}" minlength="4" maxlength="4" />
    </p>
    <input type="hidden" name="item_id" value="{{ item.id }}" />
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <button type="submit" name="edit-aircraft" class="action-button">
        Edit aircraft
    </button>
</form>

<h3>Edit image</h3>
{% if image_exists %}
<img src="/item/{{ item.id }}/image" alt="Image of the aircraft" class="aircraft-image" />

{% if session.user_id == item.user_id %}
<form action="/item/{{ item.id }}/image/remove" method="post">
    <input type="hidden" name="item_id" value="{{ item.id }}">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <button type="submit" name="remove-image" class="action-button">
        Delete image
    </button>
</form>
{% endif %}

{% else %}

{% if session.user_id == item.user_id %}
<form action="/item/{{ item.id }}/image/add" method="post" enctype="multipart/form-data">
    <p>
        <label for="image">Image</label>:
        <input type="file" name="image" id="image" accept=".png" class="file-selector" />
    </p>
    <input type="hidden" name="item_id" value="{{ item.id }}">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <button type="submit" name="upload-image" class="action-button">
        Upload image
    </button>
</form>
{% endif %}

{% endif %}

<p>
    <a href="/item/{{ item.id }}">Cancel</a>
</p>
{% endblock %}