{% extends "layout.html" %}

{% block title %}Edit aircraft{% endblock %}

{% block content %}
<h2>{{ item.airline}} {{ item.manufacturer }} {{ item.model }} [{{ item.registration }}]</h2>
<h3>Edit aircraft</h3>
<form action="/item/{{ item.id }}/edit" method="post">
    <p>
        <label for="manufacturer">Manufacturer:</label> <br/>
        <select name="manufacturer" id="manufacturer" required>
            <option value="{{ item.manufacturer }}" selected>{{ item.manufacturer }}</option>
        {% for manufacturer in manufacturers %}
            {% if manufacturer.name != item.manufacturer %}
            <option value="{{ manufacturer.name }}">{{ manufacturer.name }}</option>
            {% endif %}
        {% endfor %}
        </select>
    </p>
    <p>
        <label for="model">Model:</label> <br/>
        <input type="text" name="model" id="model" value="{{ item.model }}" maxlength="20" required />
    </p>
    <p>
        <label for="registration">Registration:</label> <br/>
        <input type="text" name="registration" id="registration" value="{{ item.registration }}" maxlength="10" required />
    </p>
    <p>
        <label for="category">Category:</label> <br/>
        <select name="category" id="category" required>
            <option value="{{ item.category }}" selected>{{ item.category }}</option>
        {% for category in categories %}
            {% if category.name != item.category %}
            <option value="{{ category.name }}">{{ category.name }}</option>
            {% endif %}
        {% endfor %}
        </select>
    </p>
    <p>
        <label for="airline">Airline:</label> <br/>
        <input type="text" name="airline" id="airline" value="{{ item.airline }}" maxlength="30" required />
    </p>
    <p>
        <label for="times_onboard">Times onboard:</label> <br/>
        <input type="number" name="times_onboard" id="times_onboard" value="{{ item.times_onboard }}" min="0" max="999" />
    </p>
    <p>
        <label for="times_seen">Times seen:</label> <br/>
        <input type="number" name="times_seen" id="times_seen" value="{{ item.times_seen }}" min="0" max="999" />
    </p>
    <input type="hidden" name="item_id" value="{{ item.id }}" />
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Edit aircraft" />
</form>
<p>
    <a href="/item/{{ item.id }}">Cancel</a>
</p>
{% endblock %}