{% extends "layout.html" %}

{% block title %}Add an aircraft{% endblock %}

{% block content %}
<h2>New aircraft</h2>
<form action="/new_item" method="post">
    <p>
        <label for="manufacturer">Manufacturer:</label> <br/>
        <input type="text" name="manufacturer" id="manufacturer" maxlength="30" required />
    </p>
    <p>
        <label for="model">Model:</label> <br/>
        <input type="text" name="model" id="model" maxlength="20" required />
    </p>
    <p>
        <label for="registration">Registration:</label> <br/>
        <input type="text" name="registration" id="registration" maxlength="10" required />
    </p>
    <p>
        <label for="category">Category:</label> <br/>
        <input type="text" name="category" id="category" maxlength="20" required />
    </p>
    <p>
        <label for="airline">Airline:</label> <br/>
        <input type="text" name="airline" id="airline" maxlength="30" required />
    </p>
    <p>
        <label for="times_onboard">Times onboard:</label> <br/>
        <input type="number" name="times_onboard" id="times_onboard" min="0" max="999" />
    </p>
    <p>
        <label for="times_seen">Times seen:</label> <br/>
        <input type="number" name="times_seen" id="times_seen" min="0" max="999" />
    </p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Add aircraft" />
</form>
{% endblock %}