{% extends "layout.html" %}

{% block title %}Aircraft deletion{% endblock %}

{% block content %}
<h2>{{ item.airline}} {{ item.manufacturer }} {{ item.model }} [{{ item.registration }}]</h2>
<h4>Are you sure you want to permanently delete this aircraft?</h4>
<form action="/item/{{ item.id }}/remove" method="post">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <button type="submit" name="remove-aircraft" class="action-button">
        Delete aircraft
    </button>
    <button type="submit" name="cancel" class="action-button">
        Cancel
    </button>
</form>
{% endblock %}