{% extends "layout.html" %}

{% block title %}Search aircraft{% endblock %}

{% block content %}
<h2>Search aircraft</h2>
<p>
    You can search for aircraft by airline, manufacturer, model and registration, in this specific order.
    All parameters are not required, as long as they are in the right order.
    The search is case insensitive.
</p>

<form action="/search" method="get">
    <p>
        <label for="query">Keyword:</label>
        <input type="text" name="query" id="query" value="{{ query }}">
    </p>
    <button type="submit" name="search" class="action-button">
        Search
    </button>
</form>

{% if query %}
<h3>Results</h3>

<ul>
    {% for item in results %}
    <li>
        <a href="/item/{{ item.id }}">{{ item.airline}} {{ item.manufacturer }} {{ item.model }} [{{ item.registration }}]</a> <br/>
        User: <a href="/user/{{ item.user_id }}">{{ item.username }}</a> <br/>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}