{% extends "layout.html" %}

{% block title %}User {{ user.username }}{% endblock %}

{% block content %}
{% if session.user_id == user.id %}
<h2>Your profile</h2>
{% else %}
<h2>Profile of {{ user.username }}</h2>
{% endif %}
<p>
{% if session.user_id == user.id %}
    You have a total of <b>{{ items | count }}</b> submitted aircraft.
{% else %}
    {{ user.username }} has a total of <b>{{ items | count }}</b> submitted aircraft.
{% endif %}
</p>
<h3>Aircraft</h3>
<ul>
    {% for item in items %}
    <li><a href="/item/{{ item.id }}">{{ item.airline}} {{ item.manufacturer }} {{ item.model }} [{{ item.registration }}]</a></li>
    {% endfor %}
</ul>
{% endblock %}