{% extends "layout.html" %}

{% block title %}{{ item.airline }} {{ item.manufacturer }} {{ item.model }} [{{ item.registration }}]{% endblock %}

{% block content %}
<h2>{{ item.airline}} {{ item.manufacturer }} {{ item.model }} [{{ item.registration }}]</h2>
<p>
    <b>Manufacturer: </b>{{ item.manufacturer }} <br/>
    <b>Model: </b>{{ item.model }} <br/>
    <b>Registration: </b>{{ item.registration }} <br/>
    <b>Category: </b>{{ item.category }} <br/>
    <b>Airline: </b>{{ item.airline }} <br/>
    <b>Times onboard: </b>{{ item.times_onboard }} <br/>
    <b>Times seen: </b>{{ item.times_seen }} <br/>
</p>
{% if session.user_id %}
<form action="/item/{{ item.id }}/like" method="post">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="hidden" name="source" value="show_item">
    <input type="submit" name="like" value="Like | {{ likes[item.id] }}">
</form>
{% endif %}
{% if session.user_id == item.user_id %}
<p>
    <a href="/item/{{ item.id }}/edit">Edit</a>
    <a href="/item/{{ item.id }}/remove">Delete</a>
</p>
{% endif %}
{% endblock %}